# 6. `lambda` 사용하기
## 1) Python `lambda` 개념 및 사용방법
- 파이썬에서 람다(lambda) 함수는 def 키워드 없이 정의될 수 있는 함수이며 간단한 연산을 수행하는 경우 유용합니다.


- 람다 함수의 기본 구문은 다음과 같습니다:
```python
    lambda arguments: expression
```
- 여기서 `arguments`는 함수에 전달될 매개변수를 나타내며, `expression`은 함수의 반환값을 결정하는 표현식입니다.

In [ ]:
# 간단한 덧셈 함수:
add = lambda x, y: x + y
print(add(5, 3))

8

In [22]:
# 리스트 정렬 시 키 함수로 사용
points = [(1, 2), (3, 1), (5, 4)]
points.sort(key=lambda point: point[1])
print(points)

[(3, 1), (1, 2), (5, 4)]

In [23]:
# `map()` 함수와 함께 사용하여 각 요소에 연산 적용
nums = [1, 2, 3, 4, 5]
squared = map(lambda x: x ** 2, nums)
print(list(squared))

[1, 4, 9, 16, 25]

In [24]:
# `filter()` 함수와 함께 사용하여 조건을 만족하는 요소 필터링
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
evens = filter(lambda x: x % 2 == 0, nums)
print(list(evens))

[2, 4, 6, 8]

## 2) Pandas에서 `lambda` 사용하기
- Pandas에서 `lambda` 함수는 간단한 함수를 만드는 데 사용되며, 일반적으로 `.apply()`, `.map()`, `.filter()`와 같은 Pandas 메서드와 함께 사용됩니다.

In [25]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

- `.apply()`로 특정 컬럼에 적용하기

In [26]:
# 열 'A'의 각 값에 10을 더하기
df["A"] = df["A"].apply(lambda x: x + 10)
df

- 조건에 따른 새로운 컬럼 생성하기

In [27]:
df['C'] = df['A'].apply(lambda x: 'large' if x > 11 else 'small')

- DataFrame의 여러 컬럼에 함수 적용하기
    - `apply()` 메서드에 `axis=1`을 설정하고 `lambda` 함수를 사용

In [28]:
df['sum'] = df.apply(lambda row: row['A'] + row['B'], axis=1)

- Series에서 특정 조건을 만족하는 요소 필터링하기
    - `filter()` 함수를 사용하여 조건을 만족하는 요소만을 포함하는 Series를 생성할 수 있습니다.

In [29]:
s = pd.Series([1, 2, 3, 4, 5])
filtered_s = s[s.apply(lambda x: x > 2)]

- `lambda` 또는 `python 함수`를 사용해서 가격변동률을 계산하기

In [ ]:
import pandas as pd
data = pd.read_csv("../dataset/yfinance_appl.csv", index_col=0)
data.head(3)

In [ ]:
data['PriceChangePercent'] = data.apply(lambda row: ((row['Close'] - row['Open']) / row['Open']) * 100, axis=1)
data['PriceChangePercent'].head()

In [ ]:
import pandas as pd
data = pd.read_csv("../dataset/yfinance_appl.csv", index_col=0)
data.head(3)

In [ ]:
def calculate_price_change_percent(row):
    return ((row['Close'] - row['Open']) / row['Open']) * 100

In [ ]:
data['PriceChangePercent'] = data.apply(calculate_price_change_percent, axis=1)
data['PriceChangePercent'].head()

# 7. 기타 중요한 pandas 기능들

## 1) `reset_index()`
- `reset_index()` 함수는 Dataframe의 index를 기본 정수 index로 재설정할 때 사용합니다.

In [1]:
import pandas as pd

df = pd.read_csv("../dataset/yfinance_aapl.csv", index_col=0)
df.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-07-19,193.100006,198.229996,192.649994,195.100006,194.069351,80507300
1,2023-07-20,195.089996,196.470001,192.500000,193.130005,192.109756,59581200
2,2023-07-21,194.100006,194.970001,191.229996,191.940002,190.926041,71917800

In [2]:
df = df.set_index('Date')

df.head(3)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-07-19,193.100006,198.229996,192.649994,195.100006,194.069351,80507300
2023-07-20,195.089996,196.470001,192.500000,193.130005,192.109756,59581200
2023-07-21,194.100006,194.970001,191.229996,191.940002,190.926041,71917800

In [3]:
# reset_index()로 정수 index로 치환
# 이때 기존의 index은 새로운 열로 추가됨
df = df.reset_index()
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-07-19,193.100006,198.229996,192.649994,195.100006,194.069351,80507300
1,2023-07-20,195.089996,196.470001,192.500000,193.130005,192.109756,59581200
2,2023-07-21,194.100006,194.970001,191.229996,191.940002,190.926041,71917800
3,2023-07-24,193.410004,194.910004,192.250000,192.750000,191.731766,45377800
4,2023-07-25,193.330002,194.440002,192.919998,193.619995,192.597153,37283200

In [4]:
# 특정 행을 지운 다음에 reset_index로 index 재조정하기
df.drop(index=[1,2]).reset_index()

,index,Date,Open,High,Low,Close,Adj Close,Volume
0,0,2023-07-19,193.100006,198.229996,192.649994,195.100006,194.069351,80507300
1,3,2023-07-24,193.410004,194.910004,192.250000,192.750000,191.731766,45377800
2,4,2023-07-25,193.330002,194.440002,192.919998,193.619995,192.597153,37283200
3,5,2023-07-26,193.669998,195.639999,193.320007,194.500000,193.472519,47471900
4,6,2023-07-27,196.020004,197.199997,192.550003,193.220001,192.199280,47460200
...,...,...,...,...,...,...,...,...
245,247,2024-07-12,228.919998,232.639999,228.679993,230.539993,230.539993,53008200
246,248,2024-07-15,236.479996,237.229996,233.089996,234.399994,234.399994,62631300
247,249,2024-07-16,235.000000,236.270004,232.330002,234.820007,234.820007,43234300
248,250,2024-07-17,229.449997,231.460007,226.639999,228.880005,228.880005,57345900
249,251,2024-07-18,230.279999,230.440002,222.270004,224.179993,224.179993,65964400

In [5]:
# reset_index(drop=True)로 기존 index가 새로운 열로 추가되지 않게 하기
df.drop(index=[1,2]).reset_index(drop=True)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-07-19,193.100006,198.229996,192.649994,195.100006,194.069351,80507300
1,2023-07-24,193.410004,194.910004,192.250000,192.750000,191.731766,45377800
2,2023-07-25,193.330002,194.440002,192.919998,193.619995,192.597153,37283200
3,2023-07-26,193.669998,195.639999,193.320007,194.500000,193.472519,47471900
4,2023-07-27,196.020004,197.199997,192.550003,193.220001,192.199280,47460200
...,...,...,...,...,...,...,...
245,2024-07-12,228.919998,232.639999,228.679993,230.539993,230.539993,53008200
246,2024-07-15,236.479996,237.229996,233.089996,234.399994,234.399994,62631300
247,2024-07-16,235.000000,236.270004,232.330002,234.820007,234.820007,43234300
248,2024-07-17,229.449997,231.460007,226.639999,228.880005,228.880005,57345900
249,2024-07-18,230.279999,230.440002,222.270004,224.179993,224.179993,65964400

## 2) df.concat()
- `df.concat()` 함수는 하나 이상의 Dataframe을 행 또는 열을 기준으로 합칠 때 사용합니다

In [ ]:
import pandas as pd

df_aapl = pd.read_csv("../dataset/yfinance_aapl_3year.csv", index_col=0).head(5)
df_nvda = pd.read_csv("../dataset/yfinance_nvda_3year.csv", index_col=0).head(5)

In [ ]:
# Dataframe을 가로로 연결하기
pd.concat([df_aapl, df_nvda], axis=1)

In [ ]:
# Dataframe을 세로로 연결하기
pd.concat([df_aapl, df_nvda], axis=0)

In [ ]:
# 새로운 인덱스를 자동으로 붙이기
pd.concat([df_aapl, df_nvda], axis=0, ignore_index=True)