# 5. `map`, `apply` 를 사용하여 DataFrame에 함수 적용하기
- python의 Pandas 라이브러리에서 `apply`와 `map`은 데이터 변환을 위해 사용되는 함수입니다.
- 다음 강의 내용인 <span style="color: red;">lambda 함수</span>와 함께 다양하게 사용될 수 있음!

## 1) python에서 map 사용하기
- python에서 `map` 함수는 주어진 함수를 시퀀스 각 요소에 적용하고 결과를 반환할 때 유용하게 사용됩니다.

In [ ]:
# 리스트의 각 숫자 제곱하기
numbers = [1, 2, 3, 4, 5]

[num**2 for num in numbers]

In [ ]:
# map을 사용해서 리스트의 각 숫자 제곱하기
def square(number):
    return number ** 2


squared_numbers = map(square, numbers)
print(list(squared_numbers))

## 2) pandas에서 `map` 함수 사용하기
- `map` 함수는 시리즈에만 적용 가능하며, 각 원소를 주어진 함수나 사전(dict), 또는 일련의 값으로 매핑(mapping)할 때 사용합니다.
- 데이터의 변환, 치환 또는 일부 데이터의 업데이트 등에 유용합니다.

In [ ]:
# 예제 시리즈 생성
s = pd.Series([1, 2, 3])

In [ ]:
# 각 원소에 10을 곱하는 함수
def multiply_by_ten(x):
    return x * 10

In [ ]:
# 시리즈의 각 원소에 함수 적용
result_series = s.map(multiply_by_ten)
print(result_series)

0    10
1    20
2    30
dtype: int64

In [ ]:
# 사전을 사용한 매핑
s = pd.Series(['apple', 'banana', 'carrot'])
fruit_colors = {
    'apple': 'red',
    'banana': 'yellow',
    'carrot': 'orange'
}
result_fruit_colors = s.map(fruit_colors)
print(result_fruit_colors)

0       red
1    yellow
2    orange
dtype: object

## 3) pandas에서 `apply` 함수 사용하기
- `apply` 함수는 데이터프레임의 행이나 열에 대해 함수를 적용하고자 할 때 사용합니다.

In [2]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [10, 13, 15]
})
df

   A   B
0  1  10
1  2  13
2  3  15

In [3]:
# 최대값, 최소값의 차이를 구하는 함수 정의
def diff_max_min(x):
    return x.max() - x.min()

1) `axis=0`: 함수가 각 열에 독립적으로 적용됨

In [4]:
# 1) axis=0
df.apply(diff_max_min, axis=0)

A    2
B    5
dtype: int64

2) `axis=1`: 함수가 각 행에 독립적으로 적용됨

In [5]:
# 1) axis=1
df.apply(diff_max_min, axis=1)

0     9
1    11
2    12
dtype: int64

- `apply`를 사용하여 새로운 컬럼 생성하기

In [6]:
df = pd.DataFrame({
    'name': ['John', 'Lucy', 'Mark', 'Jane'],
    'age': [28, 22, 35, 15]
})
df

   name  age
0  John   28
1  Lucy   22
2  Mark   35
3  Jane   15

In [7]:
# 나이에 따라 카테고리를 지정하는 함수
def age_category(age):
    if age < 18:
        return 'Underage'
    elif age < 30:
        return 'Young'
    else:
        return 'Adult'

In [8]:
df['age_category'] = df['age'].apply(age_category)
df

   name  age age_category
0  John   28        Young
1  Lucy   22        Young
2  Mark   35        Adult
3  Jane   15     Underage